@charset "UTF-8";
/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #efebf1;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

h4, h5, h6, p, a, span, button, input, small {
  font-family: "Rubik", sans-serif;
}

p, a {
  font-size: 1.6em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

.contact__button {
  position: fixed;
  top: 50%;
  right: 5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: #FF3644;
  color: white;
}

/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/
.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 13vh;
  padding: 2em 0;
  background-color: #08010c;
}
.header__box {
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 2em;
  margin: 0.1em 2em;
  border-bottom: 2px solid #bc6ff1;
  background-color: #08010c;
}
.header__box__title {
  font-style: italic;
  font-size: 3.5em;
  font-weight: 300;
  color: white;
}
.header__box .hamburguer__menu {
  width: 25%;
}
.header__box .hamburguer__menu img {
  position: fixed;
  top: 10;
  left: 10;
  z-index: 4;
  width: 5em;
}
.header__box .navbar {
  z-index: 1;
  position: fixed;
  background-color: #ddbbf3ef;
  top: 0;
  left: -100vw;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.header__box .navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-decoration: none;
  width: 100%;
}
.header__box .navbar ul li {
  margin-bottom: 1em;
  width: 90%;
  height: 5em;
  background-color: #15031dab;
  border-radius: 1px;
}
.header__box .navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
}
.header__box .is-active {
  left: 0;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 87vh;
  color: white;
  background-image: url("../imagenes/background4.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.hero__title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.hero__description {
  color: white;
  font-weight: 300;
  font-style: italic;
}

/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/
.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #08010c;
}
.footer__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  text-align: center;
  color: white;
}
.footer__content__text h2 {
  color: #bc6ff1;
  margin-bottom: 1em;
}
.footer__content__text h6 {
  font-weight: lighter;
  margin-bottom: 2.5em;
}
.footer__content form {
  position: relative;
  display: flex;
  width: 90%;
  margin-bottom: 3em;
}
.footer__content form .emailInput {
  padding: 0 1em;
  width: 100%;
  height: 3em;
  border-radius: 2em;
  border: none;
}
.footer__content form .button {
  position: absolute;
  bottom: -15;
  right: 0;
  width: 7em;
  height: 2em;
  color: white;
  border: none;
  border-radius: 1em;
  background-color: #41065f;
}
.footer__content .socialMedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10em;
}
.footer__content .socialMedia span a img {
  width: 2.8em;
}
.footer__content .yolas {
  font-size: 1.1em;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  width: 100vw;
  height: 7em;
}
.searchBar input {
  padding-left: 4em;
  width: 80%;
  height: 50%;
  font-size: 1.2em;
  color: #bc6ff1;
  background-color: #f3f3f3;
  background-image: url(../imagenes/search.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  border: none;
  border-radius: 2em;
  outline: none;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
  width: 100vw;
}
.posts__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.posts__title hr {
  margin-top: 0.4em;
  width: 100%;
  border: 1px solid #bc6ff1;
}
.posts__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.posts__content .post {
  box-sizing: border-box;
  width: 75%;
  height: 25em;
  font-size: 10px;
  text-decoration: none;
  color: #bc6ff1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.posts__content .post__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5em 1.5em 2.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.posts__content .post__content__date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
}
.posts__content .post__content__title {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dadada;
}
.posts__content .post__content__title hr {
  margin-top: 0.4em;
  width: 100%;
  border: 1px solid #bc6ff1;
}
.posts__content .post:nth-of-type(1) {
  background-image: url(../imagenes/question.jpg);
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 69%;
  }

  .posts__content .post {
    width: 28em;
    height: 28em;
  }
}
@media only screen and (min-width: 425px) {
  html {
    font-size: 71%;
  }

  .searchBar input {
    max-width: 25em;
  }
}
@media only screen and (min-width: 597px) {
  html {
    font-size: 73%;
  }

  .searchBar {
    justify-content: flex-end;
  }
  .searchBar input {
    margin-right: 5%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 74%;
  }

  .header {
    padding: 0;
  }
  .header__box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-bottom: none;
    background-color: #08010c;
  }
  .header__box .hamburguer__menu {
    display: none;
  }
  .header__box__title {
    display: none;
  }
  .header__box .navbar {
    position: relative;
    left: 0;
    background-color: #08010c;
    height: 100%;
  }
  .header__box .navbar ul {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    width: 75%;
    height: 100%;
  }
  .header__box .navbar ul li {
    margin-bottom: 0;
    background-color: transparent;
    height: inherit;
  }
  .header__box .navbar ul li a {
    font-size: 1.5em;
    font-weight: 200;
  }
  .header__box .navbar ul li:hover {
    background-color: #12021a;
  }
  .header__box .active__page {
    border-bottom: 3px solid white;
  }

  .posts__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    justify-items: center;
    width: 60em;
  }
  .footer__content form {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 75%;
  }

  .header__box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
  }
  .header__box__title {
    display: block;
    font-size: 3em;
  }
  .header__box .navbar {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__box .navbar ul {
    width: 37em;
  }
  .header__box .navbar ul li a {
    font-size: 1.4em;
  }

  .searchBar input {
    margin-right: 3%;
  }

  .posts__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
    justify-items: center;
    justify-items: center;
    width: 83em;
  }

  .footer__content {
    justify-content: space-between;
    padding: 5em 0 3em 0;
    height: 100%;
  }
}