@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.6em;
}

img {
  width: 100px;
}

/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/
.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 2em 0;
  background-color: #1E454E;
}
.header__box {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 2em;
  margin: 0.1em 2em;
  border-bottom: 2px solid #8F8F8F;
}
.header__box h2 {
  font-style: italic;
  font-size: 3.5em;
  font-weight: 300;
  color: white;
}
.header__box .hamburguer__menu {
  width: 25%;
}
.header__box .hamburguer__menu img {
  position: fixed;
  top: 5;
  left: 5;
  z-index: 1;
  width: 4.5em;
}
.header__box ul {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 65vh;
  padding-top: 15em;
  color: white;
  background: linear-gradient(0deg, #060e10 0%, #060e10 15%, #1e454e 100%);
}
.hero__title {
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.hero__description {
  color: white;
  font-weight: 300;
  font-style: italic;
}

/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/
.whoIAm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #37293B;
}
.whoIAm__container {
  width: 70%;
}
.whoIAm__container-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 4em;
  padding-bottom: 1em;
  font-weight: bolder;
  border-bottom: 0.15em solid #1E454E;
}
.whoIAm__container-image {
  width: 100%;
  margin: 0 auto;
}
.whoIAm__container-image img {
  width: 100%;
  border-top-right-radius: 10em;
  border-bottom-left-radius: 10em;
}
.whoIAm__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em auto 0;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.whoIAm__description-quote {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2em;
}
.whoIAm__description-quote img {
  width: 3em;
}
.whoIAm__description h6 {
  display: flex;
  flex-direction: column;
}
.whoIAm__description h6 hr {
  align-self: flex-end;
  margin-top: 1em;
  width: 50%;
  border: 1px solid #1E454E;
}