@import "componentes/globales";
@import "componentes/header";
@import "componentes/hero";
@import "componentes/footer";

@mixin titleHr($margin-top,$width,$border-color) {
    margin-top: $margin-top;
    width: $width;
    border: 1px solid $border-color;
}

.projectOrPost{
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100vw;
    &__title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.5em;
        hr{
            @include titleHr(.4em,45%,$Color-variacion);  
        }
    }
    &__image{
        margin-bottom: 2.5em;
        width: 100%;
        img{
            width: 100%;
        }
    }
    &__subtitle{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1em;
        hr{
            margin-top: .4em;
            width: 3%;
            height: 2em;
            border: none;
            border-right: 2px solid $Color-variacion;
        }
    }
    p{  
        font-weight: 200;
        line-height: 1.5em;
        color: #535353;
    }
}
.projectOrPostlinks{
    @extend .projectOrPost;
    align-items: flex-end;
    &__title{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1.5em;
        hr{
            @include titleHr(.4em,85%,$Color-variacion);  
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 2em;
        width: 80%;
        h4{
            text-align: end;
            font-weight: 400;
        }
        &-icon{
            margin-left: 3em;
            width: fit-content;
            
            a{
                width: fit-content;
                img{
                    width: 2.5em;
                }
            }
        }
    }
}
.moreProjectsOrPosts{
    @extend .projectOrPost;
    padding: 3em;
    &__title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.5em;
        hr{
            @include titleHr(.4em,100%,$Color-claro); 
        }
    }
    &__container{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: fit-content;
        .anotherProjectOrPost{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 2em;
            margin-bottom: 3.5em;
            width: 25em;
            height: 35em;
            text-align: center;
            background-color: white;
            border: 1px solid $Color-claro;
            border-radius: 1em 1em 7em 7em;
            border-bottom-right-radius: 7em;
            box-shadow: #888888 0px 5px 10px 0px;
            &__type{
                position: absolute;
                top: -1;
                right: -20;
                display: flex;
                align-items: center;
                padding: 0 1.5em;
                width: fit-content;
                height: 3em;
                color: $Color-claro;
                background-color: $Color-primario-oscuro;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                h5{
                    font-weight: 500;
                }
                
    
            }
            &__title{
                @extend .moreProjectsOrPosts__title;
            }
            &__image{
                width: 100%;
                height: 55%;
                border-radius: 1em 1em 0 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
            &__title{
                color: $Color-oscuro;
            }
            &__button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 3.5em;
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                color: white;
                border-radius: 1em;
                background-color: #05242c;
    
            }
        }
    }
}

@media only screen and (min-width: $break-mobile-M){
    html{
        font-size: 69%;
    }    
}

@media only screen and (min-width: $break-mobile-L){
    html{
        font-size: 71%;
    }

}
@media only screen and (min-width: $break-mobile-tablet){
    html{
        font-size: 73%;
    }

    .projectOrPost{
        padding: 3em 6em;
    }

    .footer{
        &__content{
            form{
                width: 60%;
            }
        }
    }
}
@media only screen and (min-width: $break-tablet){
    html{
        font-size: 74%;
    }

    .header{
        padding:0;
        &__box{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border-bottom: none;
            background-color: $Color-primario-oscuro;
            .hamburguer__menu{
                display: none;
            }
            &__title{
                display: none;
            }
            .navbar{
                position: relative;
                left: 0;
                background-color: $Color-primario-oscuro;
                height: 100%;
                ul{
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr 2fr;
                    width: 75%;
                    height: 100%;
                    li{
                        margin-bottom: 0;
                        background-color: transparent;
                        height: inherit;
                        a{
                            font-size: 1.8em;
                            font-weight: 200;
                            
                        }
                    }
                    li:hover{
                        background-color: #010a0c;
                    }
                }
            }
            .active__page{
                border-bottom: 3px solid white;
            }

        }
    }

    .projectOrPost{
        padding: 4em 8em;
    }

    .moreProjectsOrPosts{
        &__container{
            display: grid;
            grid-template-columns: repeat(auto-fill, 50%);
            justify-items: center;
            width: 60em;
            .anotherProjectOrPost{
                width: 23em;
                height: 33em;
            }
        }
    }
}

@media only screen and (min-width: $break-laptop){
    html{
        font-size: 75%;
    }
    
    .header{
        &__box{
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 7em;
            &__title{
                display: block;
                font-size: 3em;
            }
            .navbar{
                width: fit-content;
                ul{
                    width: 37em;
                    li{
                        a{
                            font-size: 1.4em;
                        }
                    }
                    
                }
            }
        }
    }

    .projectOrPost{
        padding: 6em 20em;
    }

    .moreProjectsOrPosts{
        &__container{
            grid-template-columns: repeat(auto-fill, 33%);
            justify-items: center;
            width: 80em;
            .anotherProjectOrPost{
                width: 23em;
                height: 33em;
            }
        }
    }
    .footer{
        &__content{
            justify-content: space-between;
            padding:5em 0 3em 0;
            height: 100%;
        }
    }   
}


@media only screen and (min-width: $break-laptop-L){
    .projectOrPost{
        padding: 8em 30em;
    }
}