@import "componentes/globales";
@import "componentes/header";
@import "componentes/hero";
@import "componentes/footer";

@mixin titleHr($margin-top,$width,$border-color) {
    margin-top: $margin-top;
    width: $width;
    border: 1px solid $border-color;
}

img{
    width: 100px;
}

.mobile_structure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100vw;
    .profile{
        width: 100vw;
        &__container{
            box-sizing: border-box;
            @extend .mobile_structure;
            width: 100%;
            padding: 3em;
            
            &__title{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1em;
                width: 100%;
                font-weight: 300;
                color: #337281;
                hr{
                    @include titleHr(.4em,100%,$Color-claro);  
                }
            }
            &__aboutme{
                margin-bottom: 2.5em;
                text-align: center;
                &__title{
                    margin-bottom: 1.1em;
                    font-weight: 600;
                    color: #337281;
                }
                &__description{
                    font-weight: 400;
                    color: #89878A;
                }
            }
            &__image{
                width: fit-content;
                margin-bottom: 2em;
                
                img{
                    width: 22em;
                    border-radius: 30em;
                }
            }
            &__details{
                width: 85%;
                &__title{
                    @extend .profile__container__aboutme__title;
                    text-align: center;
                }
                &__subtitle{
                    margin-bottom: 1em;
                    font-weight: lighter;
                    color: #585858;
                }
                &__subtitle2{
                    margin-bottom: 1em;
                    font-weight: 100;
                    color: #89878A;
                    
                }
            }
        }
    }
    .experience{
        box-sizing: border-box;
        width: 100%;
        padding: 3em;
        background-color: #141A17;
        &__title{
            @extend .profile__container__title;
        }
        &__education{
            &__title{
                @extend .profile__container__aboutme__title;
            }
        }
        &__work{
            width: 100%;
            margin-bottom: 2.5em;
            &__title{
                @extend .profile__container__aboutme__title;
            }
            &__subtitle{
                color: rgb(214, 214, 214);
            }
        }
        &__extra{
            width: 100%;
            margin-bottom: 2.5em;
            &__title{
                @extend .profile__container__aboutme__title;
            }
        }
        &__box{
            display: grid;
            row-gap: 1em;
            grid-template-areas: "title date"
                                 "subtitle subtitle"
                                 "description description";
            margin-bottom: 2.5em;
            width: 100%;
            &__title{
                grid-area: title;
                width: 12em;
                color: rgb(214, 214, 214);
            }
            &__date{
                align-self: center;
                grid-area: date;
                width: 7em;
                text-align: end;
                color: #707070;
                small{
                    font-size: 1em;
                }
            }
            &__subtitle{
                grid-area: subtitle;
                font-weight: 400;
                color: $Color-claro;
            }
            &__description{
                grid-area: description;
                font-weight: 400;
                color: #707070;
                hr{
                    @include titleHr(2em,50%,#707070);  
                }

            }
        }
    }
    .abilities{
        box-sizing: border-box;
        width: 100%;
        padding: 3em;     
        &__title{
            @extend .profile__container__title;
        }
        &__subtitle{
            @extend .profile__container__aboutme__title;
        }
        &__knowledge, &__language, &__tools{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .ability{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 1em;
            height: 2.5em;
            width: 100%;
            &__title{
                margin-right: 1.5em;
                font-weight: 400;
                color: $Color-gris;
            }
            &__progress{
                position: relative;
                width: 50%;
                height: 100%;
                border: 1px solid #767277;
                &__value{
                    position: absolute;
                    left: 0;
                    height: 100%;
                    background-color: #03181D;
                }
            }
        }
        &__knowledge{
            .ability:nth-of-type(1) .ability__progress__value{
                width: 50%;
            }
            .ability:nth-of-type(2) .ability__progress__value{
                width: 30%;
            }
            .ability:nth-of-type(3) .ability__progress__value{
                width: 45%;
            }
            .ability:nth-of-type(4) .ability__progress__value{
                width: 80%;
            }
            .ability:nth-of-type(5) .ability__progress__value{
                width: 60%;
            }
            .ability:nth-of-type(6) .ability__progress__value{
                width: 60%;
            }
            .ability:nth-of-type(7) .ability__progress__value{
                width: 70%;
            }
            .ability:nth-of-type(8) .ability__progress__value{
                width: 50%;
            }
        }
        
        &__language{
            .ability:nth-of-type(1) .ability__progress__value{
                width: 90%;
            }
            .ability:nth-of-type(2) .ability__progress__value{
                width: 45%;
            }
        }
        &__tools{
            .ability:nth-of-type(1) .ability__progress__value{
                width: 75%;
            }
            .ability:nth-of-type(2) .ability__progress__value{
                width: 75%;
            }
            .ability:nth-of-type(3) .ability__progress__value{
                width: 80%;
            }
            .ability:nth-of-type(4) .ability__progress__value{
                width: 20%;
            }
            .ability:nth-of-type(5) .ability__progress__value{
                width: 35%;
            }
            .ability:nth-of-type(6) .ability__progress__value{
                width: 88%;
            }
        }
    }
}

@media only screen and (min-width: $break-mobile-M){
    html{
        font-size: 69%;
    }    
}

@media only screen and (min-width: $break-mobile-L){
    html{
        font-size: 71%;
    }
    main{
        .profile{
            &__container{
                padding: 3em 8em;
            }
        }
        .experience{
            padding: 5em;
        }
        .abilities{
            padding: 0;
            width: 30em;
            margin: 3em auto;
        }
    }

}
@media only screen and (min-width: $break-mobile-tablet){
    html{
        font-size: 73%;
    }

    main{
        .profile{
            &__container{
                padding: 3em 10em;
                &__image{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 25em;
                    }
                }
            }
        }
        .experience{
            padding: 4em 7em;
        }
    }
}
@media only screen and (min-width: $break-tablet){
    html{
        font-size: 74%;
    }

    .header{
        padding:0;
        &__box{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border-bottom: none;
            background-color: $Color-primario-oscuro;
            .hamburguer__menu{
                display: none;
            }
            &__title{
                display: none;
            }
            .navbar{
                position: relative;
                left: 0;
                background-color: $Color-primario-oscuro;
                height: 100%;
                ul{
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr 2fr;
                    width: 75%;
                    height: 100%;
                    li{
                        margin-bottom: 0;
                        background-color: transparent;
                        height: inherit;
                        a{
                            font-size: 1.5em;
                            font-weight: 200;
                            
                        }
                    }
                    li:hover{
                        background-color: #010a0c;
                    }
                }
            }
            .active__page{
                border-bottom: 3px solid white;
            }
            
        }
    }

    main{
        .profile{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            h4{
                font-size:1.3em ;
            }
            &__container{
                padding: 0;
                display: grid;
                grid-template-areas: "title title title"
                "description img details";
                column-gap: 2em;
                justify-items: center;
                width: 58em;
                height: fit-content;
                margin: 0 auto;
                &__title{
                    grid-area: title;
                    margin-bottom: 2em;
                }
                &__aboutme{
                    grid-area: description;
                    width: 18em;
                }
                &__image{
                    grid-area: img;
                    img{
                        width: 18em;
                    }
                }
                &__details{
                    width: 18em;
                    grid-area: details;
                }
                
            }    
        }
        .experience{
            padding: 5em 11em 1 em;
            &__box{
                grid-template-areas: "title subtitle"
                                     "date description";
                column-gap: 5%;
                margin-bottom: 5em;
                &__date{
                    align-self: flex-start;
                    width: fit-content;

                }
            }
        }
        .abilities{
            width: 55em;
            &__knowledge, &__language, &__tools{
                display: grid;
                grid-template-columns: repeat(auto-fill, 48%);
                column-gap:2% ;
            }
        }
    }
    
    .footer{
        &__content{
            form{
                width: 60%;
            }
        }
    }
    
}

@media only screen and (min-width: $break-laptop){
    html{
        font-size: 75%;
    }
    
    .header{
        &__box{
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 7em;
            &__title{
                display: block;
                font-size: 3em;
            }
            .navbar{
                width: fit-content;
                ul{
                    width: 37em;
                    li{
                        a{
                            font-size: 1.4em;
                        }
                    }
                    
                }
            }
        }
    }
    main{
        .profile{
            h4{
                font-size: 1.6em;
            }
            &__container{
                column-gap: 0;
                width: 80em;
                &__title{
                    margin-bottom: 2em;
                }
                &__aboutme{
                    width: 23em;
                }
                &__image{
                    img{
                        width: 23em;
                    }
                }
                &__details{
                    width: 23em;
                }
            }    
        }
        .experience{
            padding: 5em 18em .5em;
            &__box{
                column-gap: 15%;
                margin-bottom: 8em;
            }
        }
    }
    
    .footer{
        &__content{
            justify-content: space-between;
            padding:5em 0 3em 0;
            height: 100%;
        }
    }
}