/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/


@import "componentes/globales";
@import "componentes/header";
@import "componentes/hero";
@import "componentes/footer";

@mixin titleHr($margin-top,$width,$border-color) {
    margin-top: $margin-top;
    width: $width;
    border: 1px solid $border-color;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    width: 100vw;
    height: 7em;
    background-color: #060e10;
    input{
        padding-left: 4em;
        width: 80%;
        height: 50%;
        font-size: 1.2em;
        color: $Color-claro;
        background-color: $Color-primario-oscuro;
        background-image: url(../imagenes/search.svg);
        background-repeat: no-repeat;
        background-position: 5% 50%;
        border: none;
        border-radius: 2em;
        outline: none;
    }

}

.posts{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
    width: 100vw;
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        hr{
            @include titleHr(.4em,100%,$Color-secundario);  
        }
    }
    .post{
        box-sizing: border-box;
        width: 75%;
        height: 25em;
        font-size: 10px;
        text-decoration: none;
        color: $Color-claro;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;        
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 1.5em 1.5em 2.5em;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.7);
            &__date{
                width: fit-content;
                font-size: 1em;
            }
            &__title{
                width: 70%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: rgb(218, 218, 218);
                hr{
                    @include titleHr(.4em,100%,$Color-claro);  
                }
            }
        }
    }
    .post:nth-of-type(1){
        background-image: url(../imagenes/question.jpg);
    }
}

@media only screen and (min-width: $break-mobile-M){
    html{
        font-size: 69%;
    }    
}

@media only screen and (min-width: $break-mobile-L){
    html{
        font-size: 71%;
    }

}
@media only screen and (min-width: $break-mobile-tablet){
    html{
        font-size: 73%;
    }
}
@media only screen and (min-width: $break-tablet){
    html{
        font-size: 74%;
    }

    .header{
        height: 15vh;
        padding:0;
        &__box{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border-bottom: none;
            background-color: $Color-primario-oscuro;
            .hamburguer__menu{
                display: none;
            }
            &__title{
                display: none;
            }
            .navbar{
                position: relative;
                left: 0;
                background-color: $Color-primario-oscuro;
                height: 100%;
                ul{
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr 2fr;
                    width: 75%;
                    height: 100%;
                    li{
                        margin-bottom: 0;
                        background-color: transparent;
                        height: inherit;
                        a{
                            font-size: 1.8em;
                            font-weight: 200;
                            
                        }
                    }
                    li:hover{
                        background-color: #010a0c;
                    }
                }
            }
            .active__page{
                border-bottom: 3px solid white;
            }

        }
    }

    .hero{
        height: 85vh;
    }

}

@media only screen and (min-width: $break-laptop){
    html{
        font-size: 75%;
    }
    
    .header{
        height: 14vh;
        &__box{
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 7em;
            &__title{
                display: block;
                font-size: 3em;
            }
            .navbar{
                width: fit-content;
                ul{
                    width: 37em;
                    li{
                        a{
                            font-size: 1.4em;
                        }
                    }
                    
                }
            }
        }
    }   
}