$break-laptop: 1024px;

.ProjectOrPost{
    &__image:nth-of-type(1){
        width: 25em;
        margin: 0 auto;
    }
}

.anotherProjectOrPost:nth-of-type(1) .anotherProjectOrPost__image{
    background-image: url(../imagenes/question.jpg);
}
.anotherProjectOrPost:nth-of-type(2) .anotherProjectOrPost__image{
    background-image: url(../imagenes/Rupatrupa.jpg);
}

@media only screen and (min-width: $break-laptop){
    .ProjectOrPost{
        &__image:nth-of-type(1){
            width: 30em;
        }
    }       
}