/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/

@mixin titleHr($margin-top,$width,$border-color) {
    margin-top: $margin-top;
    width: $width;
    border: 1px solid $border-color;
}

.focuseye{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    height: fit-content;
    width: 100vw;
    background: linear-gradient(180deg, rgba(55,41,59,1) 50%, rgba(0,14,59,1) 100%);
    .recentProjects{
        display: flex;
        flex-direction: column;
        width: 80vw;
        border-bottom: 1px solid $Color-claro;
        margin-bottom: 3em;
        &__title{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: flex-end;
            width: fit-content;
            text-align: end;
            color: white;
            margin-bottom: 2em;
            hr{
                @include titleHr(.4em,30%,$Color-variacion);
            }
        }
        &__content{
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .recentProject{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 2em;
                margin-bottom: 3em;
                width: 100%;
                height: 35em;
                text-align: center;
                background-color: white;
                &__image{
                    margin-bottom: 1.5em;
                    width: 100%;
                    height: 50%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: cover;
                }
                &__info{
                    width: 100%;
                    &__title{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 1em;
                        color: $Color-oscuro;
                        
                        hr{
                            @include titleHr(.2em,80%,$Color-claro);
                        }
                    }
                    &__description{
                        margin-bottom: 2.2em;
                        padding: 0 2em;
                        font-weight: 400;
                        color: $Color-secundario;                
                    }
                }
                &__button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    height: 3.5em;
                    text-decoration: none;
                    font-style: normal;
                    color: white;
                    border-radius: 1em;
                    background-color: $Color-primario-oscuro;
                }
            }
            .recentProject:nth-of-type(1) .recentProject__image{
                background-image: url(../imagenes/Rupatrupa.jpg);
            }
            .recentProject:nth-of-type(2) .recentProject__image{
                background-image: url(../imagenes/PolimathosBLANCO.png);
            }
            .recentProject:nth-of-type(3) .recentProject__image{
                background-image: url(../imagenes/banda-payuco.jpg);
            }
        }
    }
    .recentPosts{
        width: 80vw;
        &__title{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            color: white;
            margin-bottom: 2em;
            hr{
                @include titleHr(.4em,30%,$Color-variacion);
            }
        }
        &__content{
            width: 100%;
            .recentPost{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-items: flex-end;
                box-sizing: border-box;
                padding: .7em;
                margin-bottom: 1.5em;
                width: 100%;
                height: 23em;
                border-radius: .5em;
                color: #8F8F8F;
                text-decoration: none;
                background-color: white;
                box-shadow: 0px 6px 10px 0px #131315;
                &__image{
                    width: 100%;
                    height: 60%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: cover;
                }
                &__title{
                    margin: auto;
                    text-align: center;
                    font-weight: 400;
                } 
                &__date{
                    position: absolute;
                    right: 15;
                    bottom: 7.5;
                    font-size: .7em;
                }
                
            }
        }

    }
    .recentPost:nth-of-type(1) .recentPost__image{
        background-image: url(../imagenes/question.jpg);
    }
}