/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/

.footer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(6,14,16,1) 0%, rgba(6,14,16,1) 15%, rgba(30,69,78,1) 100%);
    &__content{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80%;
        text-align: center;
        color: white;
        &__text{
            h2{
                margin-bottom: 1em;
            }
            h6{
                font-weight: lighter;
                margin-bottom: 2.5em;
            }
        }
        form{
            position: relative;
            display: flex;
            width: 90%;
            margin-bottom: 3em;
            .emailInput{
                padding: 0 1em;
                width: 100%;
                height: 3em;
                border-radius: 2em;
                border: none;
            }
            // .emailInput{
            //     font-family: $Fuente2;
            //     font-size: 1.1em;
            // }
            .button{
                position: absolute;
                bottom: -15;
                right: 0;
                width: 7em;
                height: 2em;
                color: white;
                border: none;
                border-radius: 1em;
                background-color: $Color-primario-oscuro;
            }
        }
    
        .socialMedia{
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr ;
            column-gap: 1em;
            width: fit-content;
            margin-bottom: 10em;
            span{
                a{
                    img{
                        width: 2.8em;
                    }
                }
            }
        }
        .yolas{
            font-size: 1.1em;
        }
    }

}
