/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/

footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: linear-gradient(0deg, rgba(6,14,16,1) 0%, rgba(6,14,16,1) 15%, rgba(30,69,78,1) 100%);
    color: white;
    h2{
        width: 65%;
        margin-bottom: 1em;
    }
    h6{
        font-weight: lighter;
        margin-bottom: 2.5em;
    }
    input{
        padding: auto 0;
        padding-left: 1em;
        width: 90%;
        height: 3em;
        border-radius: 2em;
        border: none;
        margin-bottom: 3em;
    }
    input::placeholder{
        font-family: $Fuente2;
        font-size: 1.1em;
    }

    .socialMedia{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 10em;
        span{
            img{
                width: 4em;
            }
        }
    }
    .yolas{
        font-size: 1.1em;
    }

}