@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Rubik', sans-serif;
$Color-primario:  #52057b;
$Color-blanco:  #f3ecf7;
$Color-primario-oscuro:#41065f;
$Color-primario-claro: #892cdc;
$Color-claro: #bc6ff1;
$Color-secundario: #FFDE5F;
$Color-oscuro: #12021a;
$Color-negro: #08010c;

$Color-variacion: #FF3644;
$Color-gris: #575558;
$Color-gris-claro: #f3f3f3;
$break-mobile-M: 375px;
$break-mobile-L: 425px;
$break-mobile-tablet: 597px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop-L: 1440px;

*{
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    font-size: 62.5%;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

body{
    background-color: $Color-blanco;
}

h1,h2,h3{
    font-family: $Fuente1;
}

h4,h5,h6,p,a,span,button,input,small{
    font-family: $Fuente2;
}

p,a{
    font-size: 1.6em;
}


h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.8em;
}

h4{
    font-size: 1.6em;
}

h5{
    font-size: 1.4em;    
}

h6{
    font-size: 1.2em;
}

.contact__button{
    position: fixed;
    top: 50%;
    right: 5;
    width: fit-content;
    text-decoration:none;
    background-color: #FF3644;
    color: white;
}
