@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Rubik', sans-serif;
$Color-primario: #1E454E;
$Color-primario-oscuro: #03181D;
$Color-claro: #c4c4c4;
$Color-secundario: #37293B;
$Color-oscuro: #000E3B;
$Color-variacion: #FF3644;

*{
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    font-size: 62.5%;
    position: relative;
    width: 100vw;
}

h1,h2,h3{
    font-family: $Fuente1;
}

h4,h5,h6,p,a,span,button{
    font-family: $Fuente2;
}

p,a{
    font-size: 1.5em;
}


h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.8em;
}

h4{
    font-size: 1.6em;
}

h5{
    font-size: 1.4em;    
}

h6{
    font-size: 1.2em;
}