/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/

.header{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 2em 0; 
    background-color: #1E454E;
    &__box{
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-bottom: 2em;
        margin: .1em 2em;
        border-bottom: 2px solid $Color-claro;
        h2{
            font-style: italic;
            font-size: 3.5em;
            font-weight: 300;
            color: white;
        }
        .hamburguer__menu{
            width: 25%;
            img{
                position: fixed;
                top: 5;
                left: 5;
                z-index: 4;
                width: 5em;
            }
        }
        .navbar{
            position: fixed;
            background-color: rgb(55, 41, 59,.9);
            z-index: 3;
            top: 0;
            left: -100vw;
            bottom: 0;
            width: 100vw;
            display: flex;
            align-items: center;    
            justify-content: center;
            transition: .5s;
        }
        .is-active{
            left: 0;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            text-decoration: none;
            width: 100%;
            li{ 
                margin-bottom: 1em;
                width: 100%;
                height: 5em;
                background-color: #03181ddc;
                
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 2.5em;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}