

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 87vh;
    color: $Color-blanco;
    background-image: url('../imagenes/background5.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 20%;
    &__title{
        text-align: center;
        font-style: normal;
        font-weight: 400;
        margin-bottom: .2em;   
    }
    &__description{
        color: $Color-blanco;
        font-weight: 300;
        font-style: italic;
    }
}