/*
Posicionamiento (position, top, right, bottom, left, z-index)
Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
Modelo de caja (width, height, margin, padding)
Contenidos especiales (list, table, quotes, content, counter)
Tipografía y texto (font, text-align, text-transform)
Color y apariencia (outline, color, background, border)
Efectos visuales (box-shadow, text-shadow, transform, transition)
Miscelánea (opacity, cursor, filters)
Impresión (page-break, orphans, widows)
*/

@mixin titleHr($margin-top,$width,$border-color) {
    margin-top: $margin-top;
    width: $width;
    border: 1px solid $border-color;
}

.whoIAm{
    width: 100vw;
    height: fit-content;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3em 0;
        &__info{
            width: 70%;
            &-title{
                display: flex;
                flex-direction: column;
                font-weight: bolder;
                margin-bottom: 1em;
                color: $Color-primario-oscuro;
                hr{
                    @include titleHr(.4em,35%,$Color-claro);
                }
            }
            &-image{
                display: flex;
                justify-content: center;
                width: fit-content; 
                margin: 0 auto;
                img{
                    width: 22em;
                    height: 16.5em;
                    border-top-right-radius: 10em;
                    border-bottom-left-radius: 10em;
                }
            }
        }
        &__description{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4em auto 0; 
            width: 70%;
            height: fit-content;
            text-align: center;
            
            &-quote{
                width: fit-content;
                margin-bottom: 2em;
                img{
                    width: 3em;
                }
            }
            
            h4{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-weight: 400;
                color: $Color-oscuro;
                hr{
                    @include titleHr(1em,50%,$Color-claro);  
                }
            }
        }
    }

}